.mrg-t-10 {
    margin-top: 10px;
}
.mrg-r-5 {
    margin-right: 5px;
}
.mrg-l-5 {
    margin-left: 5px;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
div.alert {
    width: 250px;
    position: absolute;
    right: 20px;
    z-index: 9999;
}
.container-progress-linear-bar {
    height: 4px;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}
section.app-header {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    overflow: hidden;
    margin-bottom: 0.125rem;
}
